body {
    background-color: #E6E5A3;
    font-family: 'Poppins', sans-serif;
}

#header {
    text-align: center;
    background-color: #7D8F69;
}

h1 {
    color: #395144;
}

blockquote {
    background-color: #A9AF7E;
}

#soekarno {
    font-weight: bold;
}

.blabla {
    margin-left: 40%;
    display: inline-block;
}

.blabla ul,
li {
    float: left;
    padding: 5px;
    list-style: none;
    font-weight: 800;
}

.gambar {
    margin: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.gambar img {
    padding-left: 30px;
}

#img1 {
    width: 400px;
}

#img2 {
    width: 370px;
}

.isi {
    text-align: justify;
}

.bb {
    color: #395144;
    font-size: xx-large;
    font-weight: 800;
}

.jawa {
    font-weight: bold;
}

i {
    color: #393E46;
}

#profil {
    text-align: justify;
}

#profil h3 {
    color: #395144;
    font-size: x-large;
}

#berternak {
    text-align: justify;
}

#berternak h3 {
    color: #557153;
}

.koleksi {
    background-color: #90A17D;
    margin-top: 650px;
}

.koleksi img {
    width: 23%;
    padding-left: 20px;
}

.promo {
    color: #395144;
    text-align: center;
}

.promo h3 {
    color: #665A48;
}

.promo h3 del {
    color: red;
}

.promo h3 strong {
    color: red;
}

.promo ol {
    margin-left: 37%;
}

.promo ol li {
    padding: 10px;
}